/*Configuración básica*/
html body{
    margin: 0;
    text-align: center;
    width: 100%;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* max-width: 1280px; Partimos de este tamaño en el body*/
    font-size: large;
}

/*Layout*/
nav {
    /*position: sticky;*/
    align-items: center;
    top: 0;
    height: 5.46875%; /* (70 / 1280) * 100% */
    padding: 0 3.90625%; /* (50 / 1280) * 100% */
    background-color: white;
    display: flex;
}

header {
    background-color: rgb(56, 107, 179);
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    padding: 3.90625%; /* (50 / 1280) * 100% */
}

main {
    background-color: white;
    border: 0;
    padding: 3.90625%; /* (50 / 1280) * 100% */
}

article {
    padding: 1.5625%; /* (20 / 1280) * 100% */
    background-color: rgb(56, 107, 179);
    color: white;
    border-radius: 1.5625%; /* (20 / 1280) * 100% */
}

article+article {
    margin-top: 3.90625%; /* (50 / 1280) * 100% */
}

footer {
    background-color: rgb(56, 107, 179);
    color: white;
    padding: 3.90625%; /* (50 / 1280) * 100% */
}


/*Personalización*/

a{
    text-decoration: none;
    color: white;
}

/*Nav*/
.enlaces_izq{
    border-radius: 20px;
    margin-right: 20px;
    padding: 10px 20px;
    align-items: center;
    color: white;
    background-color: rgb(56, 107, 179);
}
.enlaces_izq:hover{
    background-color: blue;
}
#img_nav{
    margin-left: auto;
    max-height: 60px;
}

/*Footer*/
#arbol>table{
    margin: 0 auto;
    border-collapse: collapse;
}
.border_right{
    border-right: 2px solid white;
}
#table_container>td{
    width: 300px;
}
#copy{
    margin-top: 50px;
}

/*Tabla dentro de article*/
table{
    border-collapse: collapse;
    margin: 0 auto;
}
.title{
    font-size: x-large;
    font-weight: bolder;
}
img{
    max-width: 400px;
    border-radius: 15px;
}
.contenido>td{
    max-width: 400px;
    padding: 40px;
    text-align: justify;
}

/*Parrafos dentro del article*/
#inf_principal{
    text-align: justify;
}

/* Página firma.php */
li{
    list-style: circle;
}
#formulario{
    text-align: justify;
}
.subtitle_form{
    text-align: center;
    background-color: white;
    color: rgb(56, 107, 179);
    padding: 10px 0px;
    margin: 20px auto;
}
form div{
    width: 500px;
    text-align: left;
    margin: 0 auto;
}
form input[type="text"]{ /*Estilo por atributo*/
    padding-left: 10px;
}


@media screen and (orientation: portrait) {
    /* Reglas de estilo para orientación vertical */
    nav{
        height: 100px;
    }
    .enlaces_izq{
        padding: 20px;
        font-size: xx-large;
    }
    img{
        height: 200px;
    }
    footer span{
        font-size: 40px;
    }
  }