/*Configuraci칩n b치sica*/
html body{
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100vh;
    max-width: 1280px;
    font-size: large;
}

/*Layout*/
nav{
    /*position: sticky;*/
    align-items: center;
    top: 0px;
    height: 70px;
    padding: 0px 50px;
    background-color: white;
    display: flex;
}
header{
    background-color: rgb(56, 107, 179);
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    padding: 50px;
}
main{
    background-color: white;
    border: 0px;
    padding: 50px 50px 0px 50px;
}
article{
    padding: 2%;
    background-color: rgb(56, 107, 179);
    color: white;
    margin-bottom: 50px;
    border-radius: 20px;
}
footer{
    background-color: rgb(56, 107, 179);
    color: white;
    padding: 50px;
}
a{
    text-decoration: none;
    color: white;
}

/*Personalizaci칩n*/

/*Nav*/
.enlaces_izq{
    border-radius: 20px;
    margin-right: 20px;
    padding: 10px 20px;
    align-items: center;
    color: white;
    background-color: rgb(56, 107, 179);
}
.enlaces_izq:hover{
    background-color: blue;
}
#img_nav{
    margin-left: auto;
    max-height: 60px;
}

/*Footer*/
#arbol>table{
    margin: 0 auto;
    border-collapse: collapse;
}
.border_right{
    border-right: 2px solid white;
}
#table_container>td{
    width: 300px;
}
#copy{
    margin-top: 50px;
}

/*Tabla dentro de article*/
table{
    border-collapse: collapse;
    margin: 0 auto;
}
.title{
    font-size: x-large;
    font-weight: bolder;
}
img{
    max-width: 400px;
    border-radius: 15px;
}
.contenido>td{
    max-width: 400px;
    padding: 40px;
    text-align: justify;
    font-size: large;
}

/*Parrafos dentro del article*/
#inf_principal{
    text-align: justify;
}

/* P치gina firma.php */
li{
    list-style: circle;
}
#formulario{
    text-align: justify;
}
#title_form{
    padding-bottom: 7%;
    text-align: center;
    background-color: white;
    color: rgb(56, 107, 179);
}
.subtitle_form{
    padding: 50px 0px;
    text-align: center;
    font-weight: bolder;
    background-color: white;
    color: rgb(56, 107, 179);
}
#table_form{
    text-align: justify;
    border: 2px solid white;
}
#table_form td{
    border: 2px solid white;
    padding: 10px;
}

